@charset "UTF-8";
/*ОБЩЕЕ. Все одинаковое так и на планшете, и на мобильном//TABLET & MOBILE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 1100px) {
  .title {
    font-size: 35px;
    text-align: center;
  }

  .years {
    height: 550px;
    /* .years__background */
    /* .years__wrap */
    /* .years__title */
    /* .years__text */
    /* .years__text2 */
    /* .years__title2 */
    /* .years__img */
  }
  .years__text {
    position: absolute;
  }
  .years__text2 {
    position: absolute;
  }
  .years__title2 {
    position: absolute;
  }
  .years__img {
    position: relative;
  }

  .first {
    /* .first__wrap-phone */
    /* .first__wrap-phone-title */
    /* .first__wrap-phone-img */
    /* .first__wrap-phone-btn */
    /* .first__wrap-phone-info */
  }
  .first__wrap {
    display: none;
  }
  .first__wrap-phone {
    display: block;
  }
  .first__wrap-phone-title h1 {
    text-transform: uppercase;
    font-size: 30px;
    width: 250px;
    margin: 0 auto;
  }
  .first__wrap-phone-img {
    margin: 50px auto;
    justify-content: center;
    background-image: url(../img/i2-a.png);
    display: block;
    width: 155px;
    height: 230px;
    background-repeat: no-repeat;
  }
  .first__wrap-phone-btn {
    width: 150px;
    margin: 0 auto;
  }
  .first__wrap-phone-btn a {
    font-family: 'Montserrat', Arial, sans-serif;
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #877E71;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  .first__wrap-phone-info {
    width: 215px;
    margin: 100px auto;
    margin-bottom: 30px;
  }
}
/*MOBILE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  /*HEADER*/
  .header {
    /* .header__wrap */
    /* .header__item */
    /* .header__link */
  }
  .header__wrap {
    width: 90%;
    grid-template-columns: 1fr 1fr;
  }
  .header__item:last-child {
    display: none;
  }
  .header__link {
    font-size: 40px;
  }

  /*SECTION # 1|MAIN*/
  .main {
    /* .main__h1 */
    /* .main__h2 */
    /* .main__h3 */
  }
  .main__h1 {
    font-size: 80px;
  }
  .main__h2 {
    font-size: 50px;
    line-height: 1.5;
  }
  .main__h3 {
    font-size: 12px;
  }

  /*SECTION # 2|SERVICES*/
  .services {
    width: 95%;
    margin: 0 auto;
    border-radius: 50px;
    padding-bottom: 50px;
    /* .services__trigger */
    /* .services__wrap */
    /* .services__item */
    /* .services__title */
    /* .services__img-wrap */
    /* .services__img */
    /* .services__mix-spots */
    /* .services__mix */
    /* .services__mix-background */
    /* .services__mix-particles */
    /* .services__mix-img */
    /* .services__mix-svg */
    /* .services__text */
    /* .services__button */
    /* .services__btn-text */
    /* .services__arrow */
  }
  .services__wrap {
    grid-template-columns: 100%;
  }
  .services__title {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
  }
  .services__img-wrap {
    display: none;
  }
  .services__mix-spots {
    bottom: 187px;
    left: 25px;
    width: 50px;
  }
  .services__mix {
    width: 80%;
    margin-left: auto;
    margin: 100px auto;
  }
  .services__mix-background {
    width: 100%;
    top: 5%;
    left: -5%;
  }
  .services__mix-particles {
    width: 90%;
    left: 0;
    top: -10px;
  }
  .services__mix-img {
    width: 150px;
    height: 220px;
    background-size: cover;
    right: 0px;
  }
  .services__mix-svg {
    top: 66px;
    right: 145px;
  }
  .services__mix-svg svg {
    width: 120px;
  }
  .services__text {
    width: 245px;
    font-size: 20px;
    margin: 0 auto;
  }
  .services__button {
    width: 265px;
    height: 50px;
    margin: 280px auto auto auto;
  }
  .services__btn-text {
    font-size: 14px;
  }
  .services__arrow {
    width: 55px;
    height: 11px;
    background-size: contain;
  }

  /*SECTION # 3|POSITIVE*/
  .positive {
    position: relative;
    padding-bottom: 0;
    /* .positive__wrap */
    /* .positive__item */
    /* .positive__list */
    /* .positive__list-item */
    /* .positive__number */
    /* .positive__line */
    /* .positive__info */
    /* .positive__title */
    /* .positive__mix */
    /* .positive__background */
    /* .positive__background2 */
    /* .positive__circles */
    /* .positive__circles2 */
    /* .positive__img */
    /* .positive__spots */
    /* .positive__svg */
  }
  .positive__wrap {
    grid-template-columns: 100%;
  }
  .positive__item {
    margin-top: 0 !important;
  }
  .positive__list {
    width: 80%;
    margin: 170px auto;
  }
  .positive__list-item {
    margin-top: 70px;
  }
  .positive__number {
    font-size: 35px;
  }
  .positive__line {
    width: 40px;
  }
  .positive__info {
    font-size: 20px;
    margin-top: 30px;
  }
  .positive__title {
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 50px;
  }
  .positive__mix {
    width: 80%;
    margin: 0 auto;
  }
  .positive__background {
    width: 270px;
    height: 100%;
    right: 7px;
  }
  .positive__background2 {
    width: 236px;
    height: 100%;
    top: 50px;
    right: 0;
  }
  .positive__circles {
    width: 28%;
  }
  .positive__circles2 {
    width: 28%;
    bottom: 170px;
    right: 50px;
  }
  .positive__img {
    width: 175px;
    height: 250px;
    top: 82px;
    right: 83px;
  }
  .positive__spots {
    width: 30%;
    left: 30px;
    bottom: -100px;
  }
  .positive__svg {
    right: 0;
    height: 100%;
    top: 77px;
  }
  .positive__svg svg {
    width: 120px;
  }

  /*SECTION # 4|YEARS*/
  .years {
    /* .years__background */
    /* .years__wrap */
    /* .years__title */
    /* .years__text */
    /* .years__text2 */
    /* .years__title2 */
    /* .years__img */
  }
  .years__title {
    font-size: 35px;
    padding-top: 45px;
    text-align: center;
    text-transform: uppercase;
  }
  .years__text {
    left: 0;
    width: 290px;
    right: 0;
    font-size: 20px;
    z-index: 5;
    top: 200px;
    margin: 0px auto;
    position: absolute;
  }
  .years__text2 {
    top: 250px;
  }
  .years__title2 {
    font-size: 60px;
    margin-left: 0;
    position: absolute;
    bottom: 125px;
    text-align: center;
    width: 100%;
    z-index: 5;
    color: #EF5252;
  }
  .years__img {
    width: 180px;
    height: 250px;
    margin: 80px auto;
    position: relative;
  }

  /*SECTION # 5|PROCESS*/
  .process {
    padding-bottom: 410px;
    /* .process__wrap */
    /* .process__item */
    /* .process__mix */
    /* .process__background */
    /* .process__background2 */
    /* .process__img-main */
    /* .process__svg */
    /* .process__title */
    /* .process__list */
    /* .process__list-item */
    /* .process__list-text */
    /* .process__h3 */
    /* .process__info */
    /* .process__img */
  }
  .process__wrap {
    grid-template-columns: 100%;
  }
  .process__item:last-child {
    grid-area: 1;
  }
  .process__mix {
    width: 85%;
    margin: 150px auto;
  }
  .process__background {
    width: 155px;
    height: 176px;
    right: 110px;
  }
  .process__background2 {
    width: 185px;
    height: 270px;
    top: 41px;
    right: 50px;
  }
  .process__img-main {
    width: 150px;
    height: 210px;
    right: 100px;
    top: 70px;
  }
  .process__svg {
    top: -46px;
    left: 27%;
    right: 0;
    margin: 0 auto;
  }
  .process__svg svg {
    width: 200px;
    height: 100%;
  }
  .process__title {
    position: absolute;
    margin-left: 0;
    top: 0;
    margin-top: 70px;
    width: 100%;
  }
  .process__list {
    width: 100%;
  }
  .process__list-item {
    width: 100%;
    display: flex;
    height: 320px;
    position: relative;
    align-items: center;
    flex-direction: row;
  }
  .process__list-text {
    position: absolute;
    width: 100%;
    z-index: 5;
    height: 39%;
  }
  .process__h3 {
    position: absolute;
    width: 100%;
    margin-top: 0;
    padding-left: 10px;
  }
  .process__info {
    position: absolute;
    padding-bottom: 0;
    width: 100%;
    padding-left: 10px;
  }
  .process__img {
    width: 115px;
    position: relative;
    height: 130px;
    right: auto !important;
    top: 20px;
    margin-left: 59%;
  }

  /*SECTION # 6|CATALOG*/
  .catalog {
    padding-bottom: 100px;
    /* .catalog__beyond */
    /* .catalog__text */
    /* .catalog__wrap */
    /* .catalog__item */
    /* .catalog__img */
    /* .catalog__title */
    /* .catalog__img-other */
    /* .catalog__img-other2 */
    /* .catalog__nav */
    /* .catalog__button-wrap */
    /* .catalog__button */
    /* .catalog__btn-text */
    /* .catalog__arrow */
  }
  .catalog__text {
    font-size: 10px;
    width: 180px;
  }
  .catalog__wrap {
    grid-template-columns: 100%;
    padding-top: 50px;
  }
  .catalog__item:first-child {
    width: 90%;
    margin: 0 auto;
  }
  .catalog__item:nth-child(2) {
    margin-top: 100px;
  }
  .catalog__item:last-child {
    margin-top: 80px;
  }
  .catalog__img {
    width: 170px;
    height: 270px;
  }
  .catalog__title {
    text-align: left;
    width: 200px;
  }
  .catalog__img-other {
    width: 75px;
    height: 95px;
    top: 149px;
    left: 10%;
  }
  .catalog__img-other2 {
    width: 113px;
    height: 120px;
    top: 170px;
    right: 15%;
  }
  .catalog__button-wrap {
    width: 200px;
    height: 230px;
  }
  .catalog__button {
    width: 200px;
    height: 230px;
  }
  .catalog__btn-text {
    left: -30px;
    top: 100px;
  }

  /*SECTION # 7|MAP*/
  .map iframe {
    height: 300px;
  }

  /*SECTION # 8|FOOTER*/
  .footer {
    padding-bottom: 50px;
    /* .footer__wrap */
    /* .footer__h1 */
    /* .footer__h2 */
    /* .footer__h3 */
  }
  .footer__wrap {
    padding-top: 50px;
  }
  .footer__h1 {
    font-size: 60px;
    line-height: 1;
  }
  .footer__h2 {
    font-size: 35px;
    line-height: 2;
  }
  .footer__h3 {
    font-size: 10px;
    margin-top: 0;
    letter-spacing: 0.2em;
  }

  /*GALLERY|catalog.html*/
  .gallery {
    /* .gallery__button */
    /* .gallery__button-active */
    /* .gallery__side */
    /* .gallery__sideText */
    /* .gallery__blur */
    /* .gallery__title */
    /* .gallery__wrap */
    /* .gallery__item */
    /* .gallery__list */
    /* .gallery__nav */
    /* .gallery__li */
    /* .gallery__grid */
    /* .gallery__grid-item */
    /* .gallery__img */
    /* .gallery__imgHeight-400 */
    /* .gallery__imgHeight-300 */
  }
  .gallery__button {
    z-index: 61;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
    background-color: #877E71;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gallery__button span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
  }
  .gallery__button span:before, .gallery__button span:after {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    display: block;
    content: '';
    position: absolute;
  }
  .gallery__button span:before {
    left: 15px;
  }
  .gallery__button span:after {
    right: 15px;
  }
  .gallery__button-active {
    border: 1px solid #fff;
  }
  .gallery__button-active span:before {
    top: 15px;
  }
  .gallery__button-active span:after {
    bottom: 15px;
  }
  .gallery__sideText {
    width: 50%;
    right: 0;
    text-align: right;
  }
  .gallery__wrap {
    grid-template-columns: 100%;
  }
  .gallery__item:first-child {
    transform: translateY(-2000%);
    transition: 1s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    top: 0;
    z-index: 60;
    background: #877E71;
  }
  .gallery__item:last-child {
    padding-top: 50px;
  }
  .gallery__list {
    margin-left: 0;
    width: 100%;
  }
  .gallery__li {
    color: #F2E4C1;
    border: 1px solid;
    border-radius: 50px;
    padding: 5px 16px;
    width: 80%;
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
    margin: 15px auto;
  }
  .gallery__grid {
    width: 90%;
    margin: 0 auto;
  }
  .gallery__img {
    width: 136px;
  }
  .gallery__imgHeight-400 {
    height: 226px;
  }
  .gallery__imgHeight-300 {
    height: 195px;
  }

  .swip__active {
    transform: translateY(0) !important;
  }

  .header {
    /* .header__wrap */
    /* .header__item */
    /* .header__logo-il */
    /* .header__logo-text */
    /* .header__button */
    /* .header__stick */
  }
  .header__wrap {
    width: 90%;
    height: 65px;
  }
  .header__logo-text {
    font-size: 18px;
  }

  .icon-jo:before {
    font-style: 45px;
  }
}
/*TABLET*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
  /*HEADER*/
  .header {
    /* .header__wrap */
    /* .header__link */
  }
  .header__wrap {
    width: 90%;
  }
  .header__link {
    font-size: 55px;
  }

  /*SECTION # 1|MAIN*/
  .main {
    /* .main__h1 */
    /* .main__h2 */
    /* .main__h3 */
  }
  .main__h1 {
    font-size: 130px;
  }
  .main__h2 {
    font-size: 80px;
    line-height: 1.5;
  }
  .main__h3 {
    font-size: 20px;
  }

  /*SECTION # 2|SERVICES*/
  .services {
    /* .services__trigger */
    /* .services__wrap */
    /* .services__item */
    /* .services__title */
    /* .services__img-wrap */
    /* .services__img */
    /* .services__mix-spots */
    /* .services__mix */
    /* .services__mix-background */
    /* .services__mix-particles */
    /* .services__mix-img */
    /* .services__mix-svg */
    /* .services__text */
    /* .services__button */
    /* .services__btn-text */
    /* .services__arrow */
  }
  .services__wrap {
    grid-template-columns: 50% 55%;
  }
  .services__img-wrap {
    width: 423px;
    height: 665px;
    top: 180px;
  }
  .services__mix-spots {
    left: 350px;
    bottom: -10px;
    width: 45px;
  }
  .services__mix {
    margin-top: 120px;
    margin-left: auto;
  }
  .services__mix-background {
    width: 260px;
  }
  .services__mix-particles {
    top: -52px;
  }
  .services__mix-img {
    width: 150px;
    height: 220px;
    background-size: cover;
    right: 74px;
  }
  .services__mix-svg {
    right: 211px;
    top: 51px;
  }
  .services__mix-svg svg {
    width: 120px;
  }
  .services__text {
    font-size: 16px;
    width: 306px;
    margin-top: 0;
  }
  .services__button {
    width: 260px;
    height: 50px;
    margin-left: 74px;
    margin-top: 70px;
  }
  .services__btn-text {
    font-size: 14px;
  }

  /*SECTION # 3|POSITIVE*/
  .positive {
    /* .positive__wrap */
    /* .positive__item */
    /* .positive__list */
    /* .positive__list-item */
    /* .positive__number */
    /* .positive__line */
    /* .positive__info */
    /* .positive__title */
    /* .positive__mix */
    /* .positive__background */
    /* .positive__background2 */
    /* .positive__circles */
    /* .positive__circles2 */
    /* .positive__img */
    /* .positive__spots */
    /* .positive__svg */
  }
  .positive__item {
    margin-top: 100px;
  }
  .positive__list {
    width: 330px;
    margin-left: 70px;
  }
  .positive__number {
    font-size: 35px;
  }
  .positive__line {
    width: 40px;
  }
  .positive__info {
    font-size: 20px;
    margin-top: 30px;
  }
  .positive__title {
    font-size: 45px;
    text-align: start;
  }
  .positive__mix {
    margin-top: 60px;
    width: 100%;
    right: 30px;
  }
  .positive__background {
    width: 270px;
    height: 100%;
    right: 7px;
  }
  .positive__background2 {
    width: 236px;
    height: 100%;
    top: 50px;
    right: 0;
  }
  .positive__circles {
    width: 28%;
  }
  .positive__circles2 {
    width: 28%;
    bottom: 170px;
    right: 50px;
  }
  .positive__img {
    width: 175px;
    height: 250px;
    top: 82px;
    right: 83px;
  }
  .positive__spots {
    width: 40%;
    right: 90px;
    bottom: -250px;
  }
  .positive__svg {
    right: 0;
    height: 100%;
    top: 77px;
  }
  .positive__svg svg {
    width: 120px;
  }

  /*SECTION # 4|YEARS*/
  .years {
    /* .years__background */
    /* .years__wrap */
    /* .years__title */
    /* .years__text */
    /*.years__text2*/
    /* .years__title2 */
    /* .years__img */
  }
  .years__title {
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 100px;
    margin-left: 70px;
    text-transform: uppercase;
  }
  .years__text {
    font-size: 20px;
    margin-left: 70px;
  }
  .years__text2 {
    top: 260px;
    z-index: 5;
  }
  .years__title2 {
    font-size: 80px;
    top: 170px;
  }
  .years__img {
    width: 200px;
    height: 290px;
    float: right;
    margin-right: 60px;
    margin-top: 55px;
  }

  .process {
    padding-bottom: 100px;
    /* .process__wrap */
    /* .process__item */
    /* .process__mix */
    /* .process__background */
    /* .process__background2 */
    /* .process__img-main */
    /* .process__svg */
    /* .process__title */
    /* .process__list */
    /* .process__list-item */
    /* .process__list-text */
    /* .process__h3 */
    /* .process__info */
    /* .process__img */
  }
  .process__wrap {
    grid-template-columns: 30% 70%;
  }
  .process__mix {
    width: 100%;
    margin-left: 35px;
    margin-top: 190px;
  }
  .process__background {
    width: 155px;
    height: 176px;
  }
  .process__background2 {
    width: 185px;
    height: 270px;
    top: 41px;
    right: 50px;
  }
  .process__img-main {
    width: 150px;
    height: 210px;
    right: 100px;
    top: 70px;
  }
  .process__svg {
    top: -46px;
    left: auto;
  }
  .process__svg svg {
    width: 100%;
    height: 100%;
  }
  .process__title {
    margin-left: 0;
    margin-top: 45px;
    font-size: 45px;
  }
  .process__list {
    position: relative;
    margin-top: 110px;
    width: 500px;
  }
  .process__list-item {
    position: relative;
    width: 500px;
  }
  .process__img {
    width: 145px;
    height: 148px;
    right: 0 !important;
  }

  /*SECTION # 6|CATALOG*/
  .catalog {
    padding-bottom: 100px;
    /* .catalog__text */
    /* .catalog__wrap */
    /* .catalog__item */
    /* .catalog__img */
    /* .catalog__title */
    /* .catalog__img-other */
    /* .catalog__img-other2 */
    /* .catalog__nav */
    /* .catalog__button-wrap */
    /* .catalog__button */
    /* .catalog__btn-text */
    /* .catalog__arrow */
  }
  .catalog__text {
    font-size: 10px;
    width: 270px;
  }
  .catalog__wrap {
    grid-template-columns: 60% 40%;
    padding-top: 70px;
  }
  .catalog__item:last-child {
    grid-area: 2/2;
    margin-top: 70px;
  }
  .catalog__img {
    width: 230px;
    height: 360px;
  }
  .catalog__title {
    font-size: 60px;
    text-align: left;
    margin-left: 15px;
  }
  .catalog__img-other {
    width: 100px;
    height: 130px;
    left: 40px;
  }
  .catalog__img-other2 {
    width: 150px;
    height: 160px;
    top: 275px;
    right: 70px;
  }
  .catalog__button-wrap {
    width: 200px;
    height: 230px;
  }
  .catalog__button {
    width: 200px;
    height: 230px;
  }
  .catalog__btn-text {
    left: -30px;
    top: 100px;
  }

  /*SECTION # 7|MAP*/
  .map iframe {
    height: 400px;
  }

  /*SECTION # 8|FOOTER*/
  .footer {
    /* .footer__wrap */
    /* .footer__h1 */
    /* .footer__h2 */
    /* .footer__h3 */
  }
  .footer__h1 {
    font-size: 155px;
  }
  .footer__h2 {
    font-size: 100px;
    line-height: 1.4;
  }
  .footer__h3 {
    font-size: 23px;
  }

  /*GALLERY|catalog.html*/
  .gallery {
    /* .gallery__button */
    /* .gallery__side */
    /* .gallery__sideText */
    /* .gallery__blur */
    /* .gallery__title */
    /* .gallery__wrap */
    /* .gallery__item */
    /* .gallery__list */
    /* .gallery__nav */
    /* .gallery__li */
    /* .gallery__grid */
    /* .gallery__grid-item */
    /* .gallery__img */
    /* .gallery__imgHeight-400 */
    /* .gallery__imgHeight-300 */
  }
  .gallery__wrap {
    grid-template-columns: 40% 60%;
  }
  .gallery__item {
    padding-top: 60px;
  }
  .gallery__list {
    margin-left: 30px;
  }
  .gallery__li {
    font-size: 20px;
  }
  .gallery__grid {
    width: 90%;
  }
  .gallery__img {
    width: 200px;
  }
  .gallery__imgHeight-400 {
    height: 300px;
  }
  .gallery__imgHeight-300 {
    height: 240px;
  }
}
